.top-hr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distributes space between items */
}

.feature-item {
    flex: 1 1 calc(33.333% - 20px); /* Adjusts to three items per row */
    box-sizing: border-box;
    margin: 10px; /* Adjusts spacing between items */
}

.equal-width-table {
  width: 100%; /* Ensures all tables take the same width */
  border-collapse: collapse; /* Ensures consistent table border styling */
  table-layout: fixed; /* Ensures consistent table cell width */
  font-size: 14px;
}

.equal-width-table th {
  font-weight: bold;
}

.equal-width-table th:first-child, .equal-width-table td:first-child {
  border: 1px solid rgb(198, 198, 198);
  padding: 8px;
  text-align: left;
  width: 60%; 
  border-right: none;
}

.equal-width-table th:nth-child(2), .equal-width-table td:nth-child(2) {
  border: 1px solid rgb(198, 198, 198);
  padding: 8px;
  text-align: left;
  width: 40%; 
  border-left: none;
}

.equal-width-table td:nth-child(2) {
  padding-top: 20px; /* Add padding to the top of the second column cells */
}

.md-grid {
    max-width: initial;
  }

/*隐藏mike默认的version selector
div.md-version {
    display: none !important;
}  */

/*自定义announce banner的字体和背景颜色*/
aside.md-banner {
  color: rgba(0, 0, 0, 0.714);
  background-color: rgba(169, 241, 62, 0.541);
}


/* 黑夜主题色 */
:root{
  --md-primary-fg-color: #2864ff; /* 导航栏页面颜色 */
  --md-accent-fg-color: #0FA37F; /* 选中/悬浮链接的颜色 */
}

/* 白天主题色 */
[data-md-color-scheme="nebula"]{
  --md-primary-fg-color: #2864ff; /* 导航栏页面颜色 */
  --md-accent-fg-color: #0FA37F; /* 选中/悬浮链接的颜色 */
  --md-code-fg-color:  rgb(12, 21, 26); /* 代码段字体色 */
  --md-code-bg-color:  #eaebec;/* 代码段背景色 */
  --md-typeset-color:   #000000;/* 普通背景字 */
}

/* 修复版本选择框上边缘被box-shadow覆盖的情况 */
div>nav>label.md-nav__title {
  box-shadow: none!important;
}
